$nav-heigh: 56px;
$content-height: calc(100vh - $nav-heigh);

/*
 * Global Styles
 */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: $nav-heigh;
}

main {
  flex-grow: 1;
}

/*
 * Home Page
 */
.home-page {
  .carousel {
    overflow: hidden;

    &, &-inner {
      height: $content-height;
    }

    &-item {
      transition: transform 1s ease, opacity .5s ease-out;
      height: 100%;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}

/*
 * Tutorial page
 */
.coursebook {
  ol {
    list-style-type: none;
    counter-reset: item;

    & > li {
      counter-increment: item;

      a::before {
        content: counters(item, ".")". ";
      }
    }
  }

  .toc {
    height: $content-height;
  }

  .content {
    height: $content-height;
    overflow-y: auto;
    scroll-behavior: smooth;

    counter-reset: primary;

    &__section {
      &--primary {
        counter-increment: primary;
        counter-reset: secondary;

        h4::before {
          content: counter(primary)". ";
        }
      }

      &--secondary {
        counter-increment: secondary;
        counter-reset: tertiary;

        h5::before {
          content: counter(primary)"."counter(secondary)". ";
        }
      }

      &--tertiary {
        counter-increment: tertiary;

        h6::before {
          content: counter(primary)"."counter(secondary)"."counter(tertiary)". ";
        }
      }
    }
  }

  @media (max-width: 768px) {
    .toc,
    .content {
      height: auto;
    }
  }
}

/*
 * About page
 */
.about-page .img-container {
  height: $content-height;
  padding-top: $nav-heigh;
}
