doctype html
html 
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Add transaction
  body
    form(method='POST')
      input(type='text' name='lastName' id='lastName' placeholder='Last name')
      input(type='text' name='product' id='product' placeholder='Product')
      input(type='quantity' name='quantity' id='quantity' placeholder='Quantity')

      input(type='submit' value='Submit')
      input(type='reset' value='Reset')
      